/node_modules
/public/hot
/public/storage
/storage/
/vendor
/.idea
/.vagrant
# file default
app.blade.php
layouts/*.vue
# file default
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/public/mix-manifest.json
